.room-card{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease .18s;
    border: 3px solid transparent;

    &:hover{
        color: rgb(34, 34, 34);
        transform: scale(1.01);
        cursor: pointer;
    }

    &.active{
        border: 3px solid rgb(0, 137, 216);
    }
}